<!DOCTYPE web-app PUBLIC
"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>cc.shinbi.P2Av3.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>cc.shinbi.P2Av3.servlet.LogoutServlet</servlet-class>
  	</servlet>
  	<servlet>
  	<servlet-name>AccountRegisterServlet</servlet-name>
  	<display-name>AccountRegisterServlet</display-name>
  	<description></description>
  	<servlet-class>cc.shinbi.P2Av3.servlet.AccountRegisterServlet</servlet-class>
  	</servlet>
  	<servlet>
  	<servlet-name>AccountcheckServlet</servlet-name>
  	<display-name>AccountcheckServlet</display-name>
  	<description></description>
  	<servlet-class>cc.shinbi.P2Av3.servlet.AccountcheckServlet</servlet-class>
  	</servlet>
  	<servlet>
  	<servlet-name>AccountcheckServlet</servlet-name>
  	<display-name>AccountcheckServlet</display-name>
  	<description></description>
  	<servlet-class>cc.shinbi.P2Av3.servlet.AccountcheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>LogoutServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>AccountSearchServlet</servlet-name>
  	<url-pattern>AccountSearchServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>TochigiQuiz_QuizShowServlet</servlet-name>
  	<display-name>TochigiQuiz_QuizShowServlet</display-name>
  	<description></description>
  	<servlet-class>quizSystem.servlet.TochigiQuiz_QuizShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TochigiQuiz_QuizShowServlet</servlet-name>
  	<url-pattern>/TochigiQuiz_QuizShowServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>TochigiQuiz_ResultServlet</servlet-name>
  	<display-name>TochigiQuiz_ResultServlet</display-name>
  	<description></description>
  	<servlet-class>quizSystem.servlet.TochigiQuiz_ResultServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>TochigiQuiz_ResultServlet</servlet-name>
  	<url-pattern>/TochigiQuiz_ResultServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>quizSystem.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>
